/* Styles pour la classe dashboard */
.dashboard {
  display: flex;
  height: 100%;
}
/* Styles pour la partie gauche */
.left-section {
  flex: 1;
  max-width: 400px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Première section avec une hauteur fixe en haut */
.left-top-section {
  height: 100px;
  padding: 20px; /* Ajoutez ici la marge intérieure souhaitée */
  /* Ajoutez d'autres styles au besoin */
}

/* Deuxième section ajustable */
.left-middle-section {
  flex-grow: 1;
  overflow: auto; /* Ajoutez une barre de défilement si nécessaire */
  /* Ajoutez d'autres styles au besoin */
}

/* Styles pour la classe menu-item (pour aligner icon et item-value sur la même ligne) */
.left-middle-section-menu-item {
  display: flex;
  align-items: center;
  /* Ajoutez ici d'autres styles si nécessaire */
  cursor: pointer; /* Change le curseur pour indiquer que l'élément est cliquable */
  transition: opacity 0.3s;
  width:100%;
  border-radius: 0.375rem;
}

/* Styles pour le survol de menu-item */
.left-middle-section-menu-item:hover {
  opacity: 0.8; /* Couleur de fond au survol */
}

/* Styles pour le clic de menu-item */
.left-middle-section-menu-item.clicked {
  opacity: 0.8;  /* Couleur de fond au clic */
}


/* Styles pour la classe icon */
.left-middle-section-icon {
  width: 30px; /* Largeur fixe de 30px */
  /* Ajoutez ici d'autres styles si nécessaire */
}

/* Styles pour la classe item-value (occupera le reste de la largeur) */
.left-middle-section-item-value {
  flex-grow: 1; /* Occupe toute la largeur disponible */
  /* Ajoutez ici d'autres styles si nécessaire */
}

/* Troisième section avec une hauteur fixe en bas */
.left-bottom-section {
  height: 100px;
  padding: 20px; /* Ajoutez ici la marge intérieure souhaitée */
  /* Ajoutez d'autres styles au besoin */
}


/* Styles pour la partie gauche réduite */
.left-section.reduced {
  width: 50px; /* Largeur réduite souhaitée */
  max-width: 50px; /* Limite également la largeur maximale lorsque réduite */
  overflow: hidden; /* Masque le contenu dépassant de la partie gauche réduite */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

/* Icône de réduction */
.icon {
  cursor: pointer;
  float: right;
  /* Ajoutez ici votre style d'icône, par exemple : */
  /* font-size: 24px; */
  /* color: white; */
}

/* Styles pour la partie droite */
.right-section {
  flex: 2;
  background-color: white;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Première partie en haut de 60px */
.right-top-section {
  height: 60px;
  /* Ajoutez ici la marge intérieure souhaitée */
  /* Ajoutez d'autres styles au besoin */
}

/* Deuxième partie qui prend toute la hauteur restante */
.right-bottom-section {
  flex-grow: 1;
  overflow: auto; /* Ajoutez une barre de défilement si nécessaire */
  /* Ajoutez ici la marge intérieure souhaitée */
  /* Ajoutez d'autres styles au besoin */
}






/* Styles pour la table */
.container {
    margin: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .table th, .table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  /* Styles pour la liste de photos */
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }
  