<div class="layout">

  <!-- Contenu de la partie gauche -->
  <div class="sidebar" [ngClass]="{'reduced': isReduced}">
    <div class="sidebar-pic">
      <img class="sidebar-image" src="./assets/frontend/user-avatar.jpg" width="96px" height="96px" alt="user pic">
    </div>
    <span class="sidebar-name">Nom de la société</span>
    <span class="sidebar-email">societe@email.re</span>

    <h4 class="sidebar-title">Tableau de bord</h4>
   <!-- <div class="sidebar-item sidebar-selected"></div> -->
   <!--- a gerer item selected -->
    <div class="sidebar-item" *ngFor="let menu of collectionName ; let i = index"
                                      (click)="selectCollection(i , menu.name)"
                                      [ngClass]="{'sidebar-selected': menu.selected}">
      <div class="sidebar-item-figure" >
        <img src="../../../../assets/icons/icon-companies.svg" alt="Mon SVG" width="24" height="24">
      </div>
      <span class="sidebar-item-text" >{{menu.namemenu}}</span>
    </div>
  </div>

  <div class="page" [ngClass]="{'full': isReduced}">

    <!-- Contenu de l'en tete -->
    <div class="topbar">
      <div class="topbar-icon" (click)="toggleLeftSection()">
        <img width="24px" height="24px" src="./assets/frontend/menu.svg" alt="menu">
      </div>
    </div>

    <!-- Contenu de la première section -->
    <div class="content">

      <div class="content-header">
        <div class="content-header-left">
          <div class="content-header-figure">
            <img class="sidebar-image" src="./assets/frontend/user-avatar.jpg" width="64px" height="64px"
              alt="user pic">
          </div>
          <div class="content-header-textblock">
            <h1 class="content-header-title">Bienvenue John!</h1>
            <div class="flex">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#94a3b8" aria-hidden="true" fit=""
                height="2024pxpx" width="20px" preserveAspectRatio="xMidYMid meet" focusable="false">
                <path fill-rule="evenodd"
                  d="M5.25 9a6.75 6.75 0 0113.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 01-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 11-7.48 0 24.585 24.585 0 01-4.831-1.244.75.75 0 01-.298-1.205A8.217 8.217 0 005.25 9.75V9zm4.502 8.9a2.25 2.25 0 104.496 0 25.057 25.057 0 01-4.496 0z"
                  clip-rule="evenodd"></path>
              </svg>
              <h2 class="content-header-subtitle">Vous avez 2 messages en attente</h2>
            </div>
          </div>
        </div>
        <div class="content-header-right">
          <div class="message-button"><img width="18px" height="18px" src="./assets/frontend/email.svg"
              alt="email"><span class="message-button-text">Messages</span>
          </div>
          <div class="setting-button"><img width="18px" height="18px" src="./assets/frontend/settings.svg"
              alt="settings"><span class="setting-button-text">Réglages</span>
          </div>
        </div>
      </div>

        <div *ngIf="selectedCollection">
          <ng-container [ngSwitch]="selectedCollection">
            <app-relais *ngSwitchCase="'relais'"></app-relais>
            <app-companies *ngSwitchCase="'companies'"></app-companies>
            <app-products *ngSwitchCase="'products'"></app-products>
            <app-configurations *ngSwitchCase="'configurations'"></app-configurations>
            
          </ng-container>
        </div>

    </div>

  </div>
</div>

<!-- admin-dashboard.component.html -->
<!-- 
<div>
  liste des collections dispo
  <ul>
    <li *ngFor="let item of collectionNames$ | async">
      {{ item.name }}
    </li>
  </ul>
</div>
<button (click)="addTodo()">Ajoute</button>
<div>
    <h2>Liste de tâches</h2>
  
    <button (click)="deleteCollection()">Supprimer toute la collection</button>
  
    <ul>
      <li *ngFor="let item of data$ | async">
        {{ item.name }}
        <button (click)="deleteItem(item.id)">Supprimer</button>
      </li>
    </ul>
  </div>
-->