  <div>
    <div>
      <button (click) = "AddItem() ">Ajouter</button>
    </div>
    <div>
        <table *ngIf="data$ !== null" class="table">
          <thead>
            <!-- En-têtes de colonnes (adaptées à votre modèle de données) -->
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Itération sur les données pour afficher chaque élément -->
            <tr *ngFor="let item of data$ | async ; let i = index">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td class="table-row-actions">
                <div class="icon-edit-container">
                  <img width="16px" height="16px" src="./assets/icons/icon-edit.svg"
                    alt="modifier">
                </div>
                <div class="icon-delete-container">
                  <img width="16px" height="16px" src="./assets/icons/icon-delete.svg"
                    alt="effacer" (click)="effaceItem( item.id )">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>